/nbproject
/nbproject/*
/nbproject/private/
composer.lock
composer.phar
vendor
vendor/*
report
tests/report
tests/report/*
examples/config.php
examples/angular
examples/angular/*
examples/annotations.php
examples/collections.php
node_modules
node_modules/
node_modules/*
package-lock.json