/nbproject
/nbproject/*
/nbproject/private/
composer.lock
composer.phar
vendor
vendor/*
index.php
report
tests/report
tests/report/*
examples/config.php
examples/angular
examples/angular/*
examples/annotations.php
examples/collections.php
